# Finding words from Scrabble dictionary

In [3]:
import pandas
from pandas import DataFrame

In [12]:
data: DataFrame = pandas.read_csv("nsf2020.txt", header=None)
data

                 0
0                a
1               ab
2            abaca
3          abacaen
4         abacaene
...            ...
768312  åvoksteren
768313  åvoksterne
768314    åvokstre
768315  åvokstrene
768316   åvokstrer

[768317 rows x 1 columns]

In [13]:
seed = 86593134

sampled_data: DataFrame = data.sample(n=3000)
sampled_data

                      0
405900        mantraene
305077        kalvenyre
84853       byggelinjer
420394  militærjuntaene
535642         rothugde
...                 ...
54339        bevirkinga
31285         avnorsker
354051   kroppskontroll
126788         eloksere
92352      cruisebåtene

[3000 rows x 1 columns]

In [20]:
sampled_data.to_csv(f"./out/words_{seed}.txt", sep=" ", index=False, header=False)